/* styles.css */

body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
    background-image: url(../images/cachorro.webp);
    background-position: center;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .text-center {
    text-align: center;
  }
  
  .form-login {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 32px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 20px;
  }
  
  h4 {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .wrapper {
    text-align: center;
    margin-top: 20px;
  }
  
  .group-btn {
    display: inline-block;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    color: #ffffff;
    background-color: #e74c3c;
    border: none;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #c0392b;
  }
  